.backBtnCtn {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.backBtn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 1px solid hsl(19, 64%, 43%);
  border-top: 2px solid rgb(255, 144, 144);
  border-radius: 3px;
  width: 100px;
  height: 35px;
  background-color: hsl(19, 70%, 51%);
}
.backBtn:hover {
  cursor: pointer;
  background-color: hsl(19, 64%, 48%);
  border-top: 2px solid rgb(217, 119, 119);
}

.cardStyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 10px;
  width: 80%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 15px;
  word-wrap: break-word;
}

.hrBreak {
  width: 90%;
  border: 1px solid hsl(206, 100%, 55%);
  border-radius: 1px;
}

.postsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.postTitle {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  word-wrap: break-word;
}

.postDescription {
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Archivo", sans-serif;
  color: #272727;
  word-wrap: break-word;
}

.authorTimeCtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.postDateTime {
  font-size: 11px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Open Sans", sans-serif;
  color: #acacac;
}

.authorCtn {
  font-size: 11px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #727272;
}

.postAuthor {
  font-size: 11px;
  font-weight: bold;
  color: #222222;
  text-decoration: underline;
}

.hrPostBreak {
  width: 95%;
  border: 1px solid #e2e2e2;
  border-radius: 1px;
  margin-top: -10px;
}

.alignPostContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.descriptionCtn {
  width: 100%;
  text-align: left;
}

.addCommentCtn {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 15px;
  text-indent: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgb(217, 217, 217);
}

.addCommentTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #222222;
}

.textAreaCtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.commentTextArea {
  resize: none;
  width: 95%;
  height: 100px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.submitBtnCtn {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.submitCommentBtn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(30, 164, 43);
  border-top: 2px solid rgb(102, 255, 112);
  border-radius: 3px;
  width: 100px;
  height: 35px;
  background-color: hsl(122, 40%, 53%);
}

.submitCommentBtn:hover {
  cursor: pointer;
  border: 1px solid rgb(33, 152, 45);
  background-color: hsl(122, 33%, 38%);
  border-top: 2px solid rgb(85, 193, 93);
}
