.TopBtnsCtn {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.backBtn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 1px solid hsl(19, 64%, 43%);
  border-top: 2px solid rgb(255, 144, 144);
  border-radius: 3px;
  width: 100px;
  height: 35px;
  background-color: hsl(19, 70%, 51%);
}
.backBtn:hover {
  cursor: pointer;
  background-color: hsl(19, 64%, 48%);
  border-top: 2px solid rgb(217, 119, 119);
}

.editPostBtn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 1px solid hsl(0, 64%, 43%);
  border-top: 2px solid rgb(255, 144, 144);
  border-radius: 3px;
  width: 100px;
  height: 35px;
  background-color: hsl(0, 70%, 51%);
}

.editPostBtn:hover {
  cursor: pointer;
  background-color: hsl(0, 60%, 45%);
  border-top: 2px solid rgb(222, 109, 109);
}
.votingCtn {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.voteUp,
.voteDown {
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.voteUp:hover,
.voteDown:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.voteUp:active,
.voteDown:active {
  font-size: 24px;
  transition: 0.5s;
}

.upAmount,
.downAmount {
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}
.upAmount {
  color: rgb(109, 168, 109);
}
.downAmount {
  color: rgb(180, 98, 98);
}

.cardStyle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 10px;
  width: 80%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 15px;
  word-wrap: break-word;
}

.hrBreak {
  width: 90%;
  border: 1px solid hsl(206, 100%, 55%);
  border-radius: 1px;
}

.postsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.postTitle {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  word-wrap: break-word;
}

.postDescription {
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Archivo", sans-serif;
  color: #272727;
  word-wrap: break-word;
}

.authorTimeCtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.postDateTime {
  font-size: 11px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Open Sans", sans-serif;
  color: #acacac;
}

.authorCtn {
  font-size: 11px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #727272;
}

.postAuthor {
  font-size: 11px;
  font-weight: bold;
  color: #222222;
  text-decoration: underline;
}

.hrPostBreak {
  width: 95%;
  border: 1px solid #e2e2e2;
  border-radius: 1px;
  margin-top: -10px;
}

.alignPostContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.descriptionCtn {
  width: 100%;
  text-align: left;
}

.errorCtn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.errorStatus {
  font-size: 15px;
  font-weight: bold;
  color: red;
  font-family: "Open Sans", sans-serif;
}

.spinnerCtn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.spinner {
  /* Size */
  height: 4rem;
  width: 4rem;

  /* Create a curve at the top */
  border: 4px solid #d1d5db;
  border-top-color: #3b82f6;
  border-radius: 50%;

  animation: spinner 800ms linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
